# Working with Pandas Library (Dataframes)

In this project, the `pandas` module is already installed. If you need, you can run:
```bash
pip install pandas
```
For more information, check the [Pandas advanced installation page](https://pandas.pydata.org/docs/getting_started/install.html#install-pypi).

---

For the dataset manipulation, we will use the [Coffe Quality Data (CQI May-2023)](https://www.kaggle.com/datasets/fatihb/coffee-quality-data-cqi) from **Kaggle**.

### 1. Creating a DataFrame
To create a DataFrame with you own columns and data:

In [2]:
import pandas as pd

data = {
    'Element': ['Earth', 'Water', 'Fire', 'Air'],
    'Symbol': ['🜃', '🜄', '🜂', '🜁'],
}

df = pd.DataFrame(data)

(df)

  Element Symbol
0   Earth      🜃
1   Water      🜄
2    Fire      🜂
3     Air      🜁

### 2. Reading Data from a CSV file
To read data from a CSV file, transforming it into a DataFrame:

In [3]:
df = pd.read_csv('df_arabica_clean.csv')

### 3. Inspecting the First Few Rows
To get the first rows from the DataFrame:

In [4]:
(df.head()) # By default, it shows 5 rows

,Unnamed: 0,ID,Country of Origin,Farm Name,Lot Number,Mill,ICO Number,Company,Altitude,Region,...,Total Cup Points,Moisture Percentage,Category One Defects,Quakers,Color,Category Two Defects,Expiration,Certification Body,Certification Address,Certification Contact
0,0,0,Colombia,Finca El Paraiso,CQU2022015,Finca El Paraiso,NaN,Coffee Quality Union,1700-1930,"Piendamo,Cauca",...,89.33,11.8,0,0,green,3,"September 21st, 2023",Japan Coffee Exchange,"〒413-0002 静岡県熱海市伊豆山１１７３−５８ 1173-58 Izusan, Ata...",松澤 宏樹 Koju Matsuzawa - +81(0)9085642901
1,1,1,Taiwan,Royal Bean Geisha Estate,"The 2022 Pacific Rim Coffee Summit,T037",Royal Bean Geisha Estate,NaN,Taiwan Coffee Laboratory,1200,Chiayi,...,87.58,10.5,0,0,blue-green,0,"November 15th, 2023",Taiwan Coffee Laboratory 台灣咖啡研究室,"QAHWAH CO., LTD 4F, No. 225, Sec. 3, Beixin Rd...","Lin, Jen-An Neil 林仁安 - 886-289116612"
2,2,2,Laos,OKLAO coffee farms,"The 2022 Pacific Rim Coffee Summit,LA01",oklao coffee processing plant,NaN,Taiwan Coffee Laboratory,1300,Laos Borofen Plateau,...,87.42,10.4,0,0,yellowish,2,"November 15th, 2023",Taiwan Coffee Laboratory 台灣咖啡研究室,"QAHWAH CO., LTD 4F, No. 225, Sec. 3, Beixin Rd...","Lin, Jen-An Neil 林仁安 - 886-289116612"
3,3,3,Costa Rica,La Cumbre,CQU2022017,La Montana Tarrazu MIll,NaN,Coffee Quality Union,1900,"Los Santos,Tarrazu",...,87.17,11.8,0,0,green,0,"September 21st, 2023",Japan Coffee Exchange,"〒413-0002 静岡県熱海市伊豆山１１７３−５８ 1173-58 Izusan, Ata...",松澤 宏樹 Koju Matsuzawa - +81(0)9085642901
4,4,4,Colombia,Finca Santuario,CQU2023002,Finca Santuario,NaN,Coffee Quality Union,1850-2100,"Popayan,Cauca",...,87.08,11.6,0,2,yellow-green,2,"March 5th, 2024",Japan Coffee Exchange,"〒413-0002 静岡県熱海市伊豆山１１７３−５８ 1173-58 Izusan, Ata...",松澤 宏樹 Koju Matsuzawa - +81(0)9085642901

In [5]:
(df.head(7)) # But you can show another amount

,Unnamed: 0,ID,Country of Origin,Farm Name,Lot Number,Mill,ICO Number,Company,Altitude,Region,...,Total Cup Points,Moisture Percentage,Category One Defects,Quakers,Color,Category Two Defects,Expiration,Certification Body,Certification Address,Certification Contact
0,0,0,Colombia,Finca El Paraiso,CQU2022015,Finca El Paraiso,NaN,Coffee Quality Union,1700-1930,"Piendamo,Cauca",...,89.33,11.8,0,0,green,3,"September 21st, 2023",Japan Coffee Exchange,"〒413-0002 静岡県熱海市伊豆山１１７３−５８ 1173-58 Izusan, Ata...",松澤 宏樹 Koju Matsuzawa - +81(0)9085642901
1,1,1,Taiwan,Royal Bean Geisha Estate,"The 2022 Pacific Rim Coffee Summit,T037",Royal Bean Geisha Estate,NaN,Taiwan Coffee Laboratory,1200,Chiayi,...,87.58,10.5,0,0,blue-green,0,"November 15th, 2023",Taiwan Coffee Laboratory 台灣咖啡研究室,"QAHWAH CO., LTD 4F, No. 225, Sec. 3, Beixin Rd...","Lin, Jen-An Neil 林仁安 - 886-289116612"
2,2,2,Laos,OKLAO coffee farms,"The 2022 Pacific Rim Coffee Summit,LA01",oklao coffee processing plant,NaN,Taiwan Coffee Laboratory,1300,Laos Borofen Plateau,...,87.42,10.4,0,0,yellowish,2,"November 15th, 2023",Taiwan Coffee Laboratory 台灣咖啡研究室,"QAHWAH CO., LTD 4F, No. 225, Sec. 3, Beixin Rd...","Lin, Jen-An Neil 林仁安 - 886-289116612"
3,3,3,Costa Rica,La Cumbre,CQU2022017,La Montana Tarrazu MIll,NaN,Coffee Quality Union,1900,"Los Santos,Tarrazu",...,87.17,11.8,0,0,green,0,"September 21st, 2023",Japan Coffee Exchange,"〒413-0002 静岡県熱海市伊豆山１１７３−５８ 1173-58 Izusan, Ata...",松澤 宏樹 Koju Matsuzawa - +81(0)9085642901
4,4,4,Colombia,Finca Santuario,CQU2023002,Finca Santuario,NaN,Coffee Quality Union,1850-2100,"Popayan,Cauca",...,87.08,11.6,0,2,yellow-green,2,"March 5th, 2024",Japan Coffee Exchange,"〒413-0002 静岡県熱海市伊豆山１１７３−５８ 1173-58 Izusan, Ata...",松澤 宏樹 Koju Matsuzawa - +81(0)9085642901
5,5,5,Guatemala,La Colina,"The 2022 Pacific Rim Coffee Summit,GT02",Dinámica Café,NaN,Taiwan Coffee Laboratory,1668,Chimaltenango,...,87.00,10.7,0,0,green,2,"November 15th, 2023",Taiwan Coffee Laboratory 台灣咖啡研究室,"QAHWAH CO., LTD 4F, No. 225, Sec. 3, Beixin Rd...","Lin, Jen-An Neil 林仁安 - 886-289116612"
6,6,6,Taiwan,野牡丹咖啡莊園 Melastoma Coffee Estate,"The 2022 Pacific Rim Coffee Summit,T034",野牡丹咖啡,NaN,Taiwan Coffee Laboratory,1250,Chiayi,...,86.92,9.1,0,0,green,0,"November 15th, 2023",Taiwan Coffee Laboratory 台灣咖啡研究室,"QAHWAH CO., LTD 4F, No. 225, Sec. 3, Beixin Rd...","Lin, Jen-An Neil 林仁安 - 886-289116612"

### 4. Selecting Columns
To select specific columns from a dataframe:

In [8]:
# You can access all columns of the dataset
df_columns = df.columns
(df_columns)

Index(['Unnamed: 0', 'ID', 'Country of Origin', 'Farm Name', 'Lot Number',
       'Mill', 'ICO Number', 'Company', 'Altitude', 'Region', 'Producer',
       'Number of Bags', 'Bag Weight', 'In-Country Partner', 'Harvest Year',
       'Grading Date', 'Owner', 'Variety', 'Status', 'Processing Method',
       'Aroma', 'Flavor', 'Aftertaste', 'Acidity', 'Body', 'Balance',
       'Uniformity', 'Clean Cup', 'Sweetness', 'Overall', 'Defects',
       'Total Cup Points', 'Moisture Percentage', 'Category One Defects',
       'Quakers', 'Color', 'Category Two Defects', 'Expiration',
       'Certification Body', 'Certification Address', 'Certification Contact'],
      dtype='object')

In [9]:
# Select a single column
farm_names = df['Farm Name']

(farm_names)

0                          Finca El Paraiso
1                  Royal Bean Geisha Estate
2                        OKLAO coffee farms
3                                 La Cumbre
4                           Finca Santuario
                       ...
202                       Fazenda Conquista
203                        Finca San Felipe
204                                       -
205    Rosario de Maria II, Area de La Pila
206                           Walter Matter
Name: Farm Name, Length: 207, dtype: object

In [14]:
# Or get multiple columns

sub_df = df[['Farm Name', 'Lot Number', 'Mill', 'Variety', 'Acidity']]

(sub_df)

,Farm Name,Lot Number,Mill,Variety,Acidity
0,Finca El Paraiso,CQU2022015,Finca El Paraiso,Castillo,8.58
1,Royal Bean Geisha Estate,"The 2022 Pacific Rim Coffee Summit,T037",Royal Bean Geisha Estate,Gesha,8.00
2,OKLAO coffee farms,"The 2022 Pacific Rim Coffee Summit,LA01",oklao coffee processing plant,Java,8.17
3,La Cumbre,CQU2022017,La Montana Tarrazu MIll,Gesha,8.25
4,Finca Santuario,CQU2023002,Finca Santuario,Red Bourbon,8.25
...,...,...,...,...,...
202,Fazenda Conquista,019/22,Dry Mill,Mundo Novo,7.17
203,Finca San Felipe,017-053-0155,Beneficio Atlantic Sébaco,SHG,7.17
204,-,105/3/VL7285-005,DRY MILL,Catimor,7.00
205,"Rosario de Maria II, Area de La Pila",0423A01,"Optimum Coffee, San Salvador, El Salvador",Maragogype,7.17
206,Walter Matter,1058 y 1059,Beneficio humedo/seco,Mundo Novo,6.83

### 5. Filtering Rows
You can select rows based on a criteria:

In [18]:
low_accidity = df[df['Acidity'] <= 7]

(low_accidity)

,Unnamed: 0,ID,Country of Origin,Farm Name,Lot Number,Mill,ICO Number,Company,Altitude,Region,...,Total Cup Points,Moisture Percentage,Category One Defects,Quakers,Color,Category Two Defects,Expiration,Certification Body,Certification Address,Certification Contact
204,204,204,Laos,-,105/3/VL7285-005,DRY MILL,105/3/VL7285-005,Marubeni Corporation,1300,Bolaven Plateau,...,79.67,11.6,0,9,green,11,"November 11th, 2023",Japan Coffee Exchange,"〒413-0002 静岡県熱海市伊豆山１１７３−５８ 1173-58 Izusan, Ata...",松澤 宏樹 Koju Matsuzawa - +81(0)9085642901
206,206,206,Brazil,Walter Matter,1058 y 1059,Beneficio humedo/seco,002/1208/1016,Descafeinadores Mexicano SA. de CV,850-1100,Minas Gerais,...,78.00,11.3,0,0,green,1,"November 18th, 2023",Centro Agroecológico del Café A.C.,"Instituto de Ecología A. C., Campus III Edific...",Stephany Escamilla Femat - Tel. +52 228 842180...

### 6. Creating New Columns
You can create new columns in the DataFrame, derived from the data within:

In [19]:
# We have some scores from different aspects of each coffe

eval_df = df[['ID', 'Aroma', 'Flavor', 'Aftertaste', 'Acidity',
            'Body', 'Balance', 'Uniformity', 'Clean Cup',
            'Sweetness', 'Overall', 'Total Cup Points']]

(eval_df)

,ID,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean Cup,Sweetness,Overall,Total Cup Points
0,0,8.58,8.50,8.42,8.58,8.25,8.42,10.0,10.0,10.0,8.58,89.33
1,1,8.50,8.50,7.92,8.00,7.92,8.25,10.0,10.0,10.0,8.50,87.58
2,2,8.33,8.42,8.08,8.17,7.92,8.17,10.0,10.0,10.0,8.33,87.42
3,3,8.08,8.17,8.17,8.25,8.17,8.08,10.0,10.0,10.0,8.25,87.17
4,4,8.33,8.33,8.08,8.25,7.92,7.92,10.0,10.0,10.0,8.25,87.08
...,...,...,...,...,...,...,...,...,...,...,...,...
202,202,7.17,7.17,6.92,7.17,7.42,7.17,10.0,10.0,10.0,7.08,80.08
203,203,7.33,7.08,6.75,7.17,7.42,7.17,10.0,10.0,10.0,7.08,80.00
204,204,7.25,7.17,7.08,7.00,7.08,7.08,10.0,10.0,10.0,7.00,79.67
205,205,6.50,6.75,6.75,7.17,7.08,7.00,10.0,10.0,10.0,6.83,78.08
206,206,7.25,7.08,6.67,6.83,6.83,6.67,10.0,10.0,10.0,6.67,78.00

In [24]:
# Lets get the average pontuation for each coffe in a new column
eval_df['Avg. Points'] = eval_df[['Aroma', 'Flavor', 'Aftertaste', 'Acidity',
            'Body', 'Balance', 'Uniformity', 'Clean Cup',
            'Sweetness', 'Overall']].mean(axis=1)

(eval_df)

C:\Users\bruno\AppData\Local\Temp\ipykernel_10996\1535358830.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eval_df['Avg. Points'] = eval_df[['Aroma', 'Flavor', 'Aftertaste', 'Acidity',

,ID,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean Cup,Sweetness,Overall,Total Cup Points,Avg. Points
0,0,8.58,8.50,8.42,8.58,8.25,8.42,10.0,10.0,10.0,8.58,89.33,8.933
1,1,8.50,8.50,7.92,8.00,7.92,8.25,10.0,10.0,10.0,8.50,87.58,8.759
2,2,8.33,8.42,8.08,8.17,7.92,8.17,10.0,10.0,10.0,8.33,87.42,8.742
3,3,8.08,8.17,8.17,8.25,8.17,8.08,10.0,10.0,10.0,8.25,87.17,8.717
4,4,8.33,8.33,8.08,8.25,7.92,7.92,10.0,10.0,10.0,8.25,87.08,8.708
...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,202,7.17,7.17,6.92,7.17,7.42,7.17,10.0,10.0,10.0,7.08,80.08,8.010
203,203,7.33,7.08,6.75,7.17,7.42,7.17,10.0,10.0,10.0,7.08,80.00,8.000
204,204,7.25,7.17,7.08,7.00,7.08,7.08,10.0,10.0,10.0,7.00,79.67,7.966
205,205,6.50,6.75,6.75,7.17,7.08,7.00,10.0,10.0,10.0,6.83,78.08,7.808
206,206,7.25,7.08,6.67,6.83,6.83,6.67,10.0,10.0,10.0,6.67,78.00,7.800

### 7. Grouping and Aggregating Data
To gather your data into groups and extract new data through aggregation:

In [27]:
country_groups = df.groupby('Country of Origin').aggregate('size')

(country_groups)

Country of Origin
Brazil                          10
Colombia                        19
Costa Rica                       8
El Salvador                      7
Ethiopia                        11
Guatemala                       21
Honduras                        13
Indonesia                        3
Kenya                            2
Laos                             3
Madagascar                       1
Mexico                           4
Myanmar                          1
Nicaragua                        7
Panama                           2
Peru                             4
Taiwan                          61
Tanzania, United Republic Of     6
Thailand                        12
Uganda                           3
United States (Hawaii)           5
Vietnam                          4
dtype: int64

### 8. Merging DataFrames
To merge two DataFrames, joining them by a shared key:

In [30]:
df1 = pd.DataFrame({
    'Element': ['Earth', 'Water', 'Fire', 'Air', 'Aether'],
    'Symbol': ['🜃', '🜄', '🜂', '🜁', None],
})

df2 = pd.DataFrame({'Element': ['Earth', 'Fire'], 'Quality': ['Solid', 'Plasma']})
merged_df = pd.merge(df1, df2, on='Element')

(merged_df)

  Element Symbol Quality
0   Earth      🜃   Solid
1    Fire      🜂  Plasma

### 9. Handling Missing Data
To clean your DataFrame, filling the voids where data is absent:

In [31]:
(df1)

  Element Symbol
0   Earth      🜃
1   Water      🜄
2    Fire      🜂
3     Air      🜁
4  Aether   None

In [32]:
df1.fillna(value='Unknown', inplace=True)

(df1)

  Element   Symbol
0   Earth        🜃
1   Water        🜄
2    Fire        🜂
3     Air        🜁
4  Aether  Unknown

### 10. Pivoting and Reshaping Data
To transmute and shape your DataFrame, revealing hidden patterns and structures with a pivot operation:

In [33]:
df1['Length'] = df1['Element'].apply(len)

pivoted_df = df1.pivot(index='Element', columns='Symbol', values='Length')

(pivoted_df)

Symbol   Unknown    🜁    🜂    🜃    🜄
Element
Aether       6.0  NaN  NaN  NaN  NaN
Air          NaN  3.0  NaN  NaN  NaN
Earth        NaN  NaN  NaN  5.0  NaN
Fire         NaN  NaN  4.0  NaN  NaN
Water        NaN  NaN  NaN  NaN  5.0